@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Hanken+Grotesk:ital,wght@0,300;1,100&family=Montserrat:wght@500;700&family=Overpass:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.corpo {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.container, .main {
    background-color: hsla(213, 20%, 18%, 0.772);
    border-radius: 12px;
    padding: 25px;
    align-items: center;
    width: 95%;
}
.star {
    background-color: hsla(219, 11%, 30%, 0.294);
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
img {
    margin: auto;
    align-items: center;
    padding-top: 15px;
    padding-left: 13.5px;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-family: Overpass;
    line-height: 75px;
}
p {
    font-size: 18px;
    font-family: Overpass;
    color: hsl(216, 12%, 54%);
}
.chooseNumber {
    display: flex;
    width: 95%;
    justify-content: space-between;
    color: hsl(216, 12%, 54%);
    font-family: Overpass;
    margin-top: 25px;
}
.num {
    text-align: center;
    background-color: hsla(219, 11%, 30%, 0.438);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-family: Overpass;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.num:hover {
    background-color: hsl(25, 97%, 53%);;
}
.button {
    padding-top: 25px;
}
button:hover {
    background-color: hsla(40, 87%, 31%, 0.438);
}
button {
    width: 100%;
    border-radius: 25px;
    height: 50px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 20px;
    font-family: Overpass;
}
.imagem {
    text-align: center;
}

.message {
    background-color: hsla(219, 11%, 30%, 0.294);
    color:  hsl(25, 97%, 53%);
    border-radius: 25px;
    height: 35px;
    width: 70%;
    margin-top: 30px;
    font-family: Overpass;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-left: 15%;
}
.miniMain {
    text-align: center;
}

/* Inicio padrão Desktop*/
@media screen and (min-width: 600px) {

    .container, .main {
        width: 350px;
        }
    .star {
        margin-bottom: 25px;
    }
    h1 {
        margin-bottom: 15px;
    }
    .chooseNumber {
        margin-top: 15px;
    }
    button {
        height: 45px;     
    }
}
.main {
    display: none;
}